<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">
  <servlet>
    <servlet-name>HelloAppEngine</servlet-name>
    <servlet-class>HelloAppEngine</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HelloAppEngine</servlet-name>
    <url-pattern>/hello</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  
      <!--Nuestro Servlet -->

  <servlet>
    <servlet-name>calculadora</servlet-name>
    <servlet-class>SumaNumeros</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>calculadora</servlet-name>
    <url-pattern>/calculadora</url-pattern>
  </servlet-mapping>
  
   <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  
  
        <!--Current Date Servlet -->

  <servlet>
    <servlet-name>currentdate</servlet-name>
    <servlet-class>CurrentDate</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>currentdate</servlet-name>
    <url-pattern>/currentdate</url-pattern>
  </servlet-mapping>
  
          <!--Get ADmins Servlet -->

  <servlet>
    <servlet-name>getadmins</servlet-name>
    <servlet-class>GetAdmins</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>getadmins</servlet-name>
    <url-pattern>/getadmins</url-pattern>
  </servlet-mapping>
  
  
</web-app>